{% extends 'frontend/basic.twig' %}

{% block menu %}
	{% include 'frontend/_parts/menu/main_menu.twig' %}
{% endblock %}
{% block content %}
	{% autoescape false %}
		<section class="blog-item">
			<div class="blog-item__head">
				<div class="blog-item__wrap">
					<h2>Блог</h2>
				</div>
			</div>
			<div class="blog-item__wrap">
				<div class="blog-item__header">
					<h1>{{ info.title }}</h1>
				</div>
				<div class="blog-item__content">
					<p><img class="blog-item__img" src="{{ base_url }}uploads/news/{{ info.folder }}/{{ images[0]['name'] }}" alt=""></p>
					{{ info.text }}
				</div>
			</div>
		</section>
	{% endautoescape %}
{% endblock %}
